body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('images/mainBackground.jpeg') no-repeat center center fixed;
    background-size: cover;
    transition: background-color 0.3s ease-in-out;
}

body.scrolled {
    background: white;
}

.content {
    min-height: 200vh; /* Make sure there's enough content to scroll */
    padding: 20px;
    box-sizing: border-box;
}
