body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #081326;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.background {
    position: dynamic;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('images/background3.avif') no-repeat center center fixed;
    background-size: cover;
    z-index: -2; /* Ensure it's behind the photo */
    opacity: 90%;
}

.block-m-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff; /* Fully opaque white background */
    color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
    z-index: 1000; /* Ensure it stays above other content */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    padding-left: 20px; /* Add some padding on the left */
}

.top-bar-photo {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
    border-radius: 50%; /* Make the photo circular */
    object-fit: cover; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between the photo and the name */
}

.top-bar-name {
    font-size: 1.0em; /* Adjust the font size as needed */
    cursor: pointer;
}

.linkedin-link {
    margin-left: auto; /* Push the LinkedIn logo to the far right */
}

.linkedin-logo, .github-logo, .gmail-logo {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    margin-right: 25px;
}

.intro-wrapper {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    z-index: 1;
    width: 80%;
}

.photo-wrapper {
    margin-right: 20px;
}

.profile-photo {
    width: 400px; /* Adjust the size as needed */
    height: auto;
    border-radius: 5%; /* Optional: make the photo circular */
    border: 1px solid black; /* Optional: add a border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
}

.intro-text {
    color: black;
    max-width: calc(100% - 420px); /* Ensure the text doesn't overflow the available space */
    line-height: 1.5;
    transform: translateX(40%);
    font-size: x-large;
    background: rgba(255, 255, 255, 0.7); /* Subtle background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
}

.intro-text h1 {
    font-size: 2.5em;
    margin: 0 0 10px;
}

.intro-text h2 {
    font-size: 1.8em;
    margin: 5px 0;
}

/* Newly added CSS for Resume section */
.content {
    padding-top: 20px; /* Reduce this value */
    background: transparent;
    min-height: auto; /* Adjust this value as needed */
    padding: 20px;
    box-sizing: border-box;
    margin: 0; /* Remove any margin */
    color: aliceblue;
}

.cursor {
    display: inline-block;
    margin-left: 1px;
    font-weight: normal;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Newly added CSS for dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.8em;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .top-bar-name {
    transform: translateY(1px);
}

.about-me-text {
    color: black;
    max-width: 80%;
    line-height: 1.5;
    transform: translateX(10%);
    font-size: x-large;
    background: rgba(255, 255, 255, 0.7); /* Subtle background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
    margin-top: 20px;
    margin-bottom: 0px;
}

#MyResume iframe {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
    max-height: fit-content;
    
}

/* Adjust the margin and padding for the About Me and My Resume sections */
#AboutMe {
    margin-bottom: 0;
    padding-bottom: 0;
}

#MyResume {
    margin-top: 0;
    padding-top: 0;
}